<table mat-table [dataSource]="transactions" class="mat-elevation-z5 bch-table bch-transactions__table"
       aria-label="Transactions">
  <ng-container matColumnDef="date">
    <th id="th_date" class="bch-header-cell bch-header-row__cell" mat-header-cell *matHeaderCellDef>Date</th>
    <td mat-cell class="bch-cell bch-table-row__cell" *matCellDef="let transaction">{{ transaction.date }}</td>
  </ng-container>
  <ng-container matColumnDef="company">
    <th id="th_company" class="bch-header-cell bch-header-row__cell" mat-header-cell *matHeaderCellDef>Company</th>
    <td mat-cell class="bch-cell bch-table-row__cell" *matCellDef="let transaction">{{ transaction.company }}</td>
  </ng-container>
  <ng-container matColumnDef="ledger">
    <th id="th_ledger" class="bch-header-cell bch-header-row__cell" mat-header-cell *matHeaderCellDef>Account</th>
    <td mat-cell class="bch-cell bch-table-row__cell" *matCellDef="let transaction">{{ transaction.ledger }}</td>
  </ng-container>
  <ng-container matColumnDef="amount">
    <th id="th_amount" class="bch-header-cell bch-header-row__cell" mat-header-cell *matHeaderCellDef>Amount</th>
    <td mat-cell class="bch-cell bch-table-row__cell" *matCellDef="let transaction">
      {{ transaction.amount | currency }}</td>
  </ng-container>

  <tr class="bch-table__header-row bch-header-row" mat-header-row *matHeaderRowDef="columns"></tr>
  <tr class="bch-table__row bch-table-row" mat-row *matRowDef="let row; columns: columns;"></tr>
</table>
